* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    /* display: flex; is used to make the other containers side by side. if 
    used  in a flexbox item it will make the content in the container 
    side by side. */
    display: flex;
    background:linear-gradient(
        to bottom,
        rgba(255, 2, 2, 0.769),
        rgb(80, 19, 19) 
        );
    color: antiquewhite;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

#sidebar-content {
    /* background-color: aqua; */
    /* flex is used to size the containers */
    /* flex: 1; */
    width: 350px;
    /* Order changes the order in which the html is seen */
    order: 2;
    padding: 18px;
    position: sticky;
    top: 0px;
}

#main-content {
    /* background-color: lightgreen; */
    flex: 2;
    order: 1;
}

#sidebar-content h2 {
    background-color: slategrey;
    color:black;
    padding: 12px;
    font-size: 30px;
    margin: 0px;
}


#sidebar-content ul {
    background-color: lightgray;
    margin: 0px 0px 36px;
    border: 1px solid grey;
/*  list-style-type lets you design the bullets */
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid black;
}

/* pseudo-class- this targets the last child in the sidebar and removes the bottom border*/
#sidebar-content li:last-child {
    border-bottom: 0px;
}

/* this pseudo-class allows the target to change color when hovered over by the mouse */
#sidebar-content li:hover {
    background-color: chartreuse;
}

#main-content h1 {
    font-size: 48px;
}

#main-content p, h3 {
    font-size: 24px;
}