
#bulletin-board {
    width: 1400px;
    min-height: 120vh;   
}

.post-it {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: transparent;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pink {
    Background-color: pink;
}

.aqua {
    background-color: aqua;
}

.green {
    background-color: aquamarine;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blueviolet;
    color: gold;
}

.white {
    background-color: white;
}

.list {
    text-align: center;
}
img {
    width: 100%;
}
.shaddow {
    box-shadow: 4px 4px 8px black;
}