* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column-layout {
    max-width: 1200px;
    margin: 0px auto;
}

#recipe-intro {
    display: flex;
    align-items: center;
    gap: 60px;
    border-top: 3px solid darkgray;
    border-bottom: 3px solid darkgray;
    margin: 30px;
}

#recipe-intro img {
    width: 100%;
    margin: 36px;
}

#recipe-intro .img-container {
    flex: 1;
}

#recipe-intro .text-container {
    flex: 1;
} 

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.simple {
    background-color: black;
    color: white;
    padding: 10px;
}

.text-container p {
    font-size: 24px; 
}

.total-time p {
    font-size: 18px;
}

.prep-time p {
    font-size: 18px;
}

#single-column {
    max-width: 1200px;
    margin: 0px auto;
}

.card {
    border: 5px solid aquamarine;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
}

#card-container {
    display: flex;
    gap: 36px;
    
}